# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Tests
__pycache__/
.virtualenv/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binary
src/metronomikon
