name: PR checks
on:
  pull_request:
    branches:
      - master
jobs:
  Run-CI-Script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          # TODO: bump to 3.8+ once behave>=1.2.7 is released
          # https://github.com/behave/behave/issues/755
          python-version: '3.7'
      - uses: actions/setup-go@v3
        with:
          go-version: '~1.18'
      - uses: azure/setup-kubectl@v3.0
        with:
          version: 'v1.21.8' # default is latest stable
      - run: ci/pr.sh
